<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vignancollege">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.vignancollege.DeveloperActivity"
            android:parentActivityName="com.example.vignancollege.MainActivity"></activity>
        <activity android:name="com.example.vignancollege.FullImageView" />
        <activity android:name="com.example.vignancollege.ebook.PdfViewerActivity" />
        <activity
            android:name="com.example.vignancollege.ebook.EbookActivity"
            android:parentActivityName="com.example.vignancollege.MainActivity" />
        <activity android:name="com.example.vignancollege.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>